#first-name-input{
  border-radius: 3px;
  outline: none;
  width: 250px;
  height: 25px;
  background-color: whitesmoke;
}

#second-name-input{
  border-radius: 3px;
  outline: none;
  width: 250px;
  height: 25px;
  background-color: whitesmoke;
}

#email-input{
  border-radius: 3px;
  outline: none;
  width: 250px;
  height: 25px;
  background-color: whitesmoke;
}
#table{
  width: 100%;
}
#btn{
  background-color: aliceblue;
}
hr{
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}